<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy12q0G8AeRMOh7jboA5P/SFIIJdA2yy4s" crossorigin="anonymous">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Магазин</h1>

        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Магазин</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-z9w/5r+EOqpddO5Jww27zpo3QDtv7T3hZjYSx6l1Pj8H+0LGAhbe8HQuskrUjcp" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy12q0G8AeRMOh7jboA5P/SFIIJdA2yy4s" crossorigin="anonymous"></script>

</body>
</html>
